

.header {
  background: url(../img/bg-bnr.png) bottom;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

    // custom styling for slider

  // .slick-dots {
  //   bottom: -50px;
  // }

  .slick-dots {
    width: 20px;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
}

  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 8px;
    height: 8px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50%;
    border: 1px solid white;
 }
 .slick-dots li.slick-active button:before {
   background-color: var(--clr-white);
 }

 .slick-prev:before, .slick-next:before {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
 }
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  
  &__logo {
    width: 9em;
  }
  
  &__list {
    display: flex;
  }
  
  &__list > * + * {
    margin-left: 2em;
  }
  
  &__smlist {
    display: flex;
    justify-content: end;
  }
  
  &__smlist > * + * {
    margin-left: .6em;
  }

  &__smlink {
    width: 40px;
    height: 40px;
    border: 1px solid var(--clr-white);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    margin: 5px;

    &:hover {
      color: var(--clr-mediumSlateBlue);
      background-color: var(--clr-white);
    }
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: transparent !important;
  width: 100%;
  padding: 2em 0;

  .navbar-brand {
    width: 9em;
  }

  .navbar-nav > * + * {
    margin-left: 2em;
  }

  .nav-link {
    font-size: var(--fs-100);
    color: var(--clr-white);

    .icon {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px solid var(--clr-white);
      display: inline-block;
      margin-right: 5px;
      transition: all 0.2s ease;
    }

    &:hover {
      .icon {
        background-color: var(--clr-white);
      }
    }
  }

}

.banner {
  font-family: var(--ff-montserrat);
  color: var(--clr-white);

  &__title {
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
    letter-spacing: 5px;
    margin-bottom: .25em;
    text-transform: uppercase;
  }

  &__text {
    letter-spacing: 8px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 991px) {
    &__title {
      font-size: var(--fs-500);
      text-transform: uppercase;
    }

    &__text {
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  
  }
}

.projects {
  padding: 6.25em 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  // align-items: center;


  &__content:first-child {
    margin-bottom: 5em;
  }

  &__content {
    position: relative;
    padding-top: 5em;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      height: 470px;
      background-color: var(--clr-mediumSlateBlue);
    }

    &.project-secondray {
      
      &::after {
        right: 0;
        left: auto;

        @media screen and (max-width: 991px) {
          bottom: 10px;
          top: auto;
        }
      }
      @media screen and (max-width: 991px) {
        margin-top: 30px;
      }
    }
  }  

  .project {
    &__image {
      height: 470px;
      position: relative;
      z-index: 5;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__state {
      font-family: var(--ff-montserrat);
      font-size: var(--fs-400);
    }
  
    &__title {
      font-family: var(--ff-montserrat);
      font-size: var(--fs-500);
      font-weight: var(--fw-700);
    }

    &__desc {
      margin-top: 1.5em;
    }


    &__location {
      font-family: var(--ff-openSans);
      font-size: var(--fs-200);
      font-style: italic;
      margin-top: 3em;
    }
  }
}


.news {
  background: url(../img/bg-news.png) bottom;
  padding: 6.25em 0;
  
  &__title {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
    color: var(--clr-white);
    text-align: center;
    margin-bottom: 2.5em;
  }

  .card {
    border-radius: 0;
    margin: 0 1em;
    
    .card-title {
      font-family: var(--ff-montserrat);
      font-size: var(--fs-400);
      font-weight: var(--fw-700);
    }
  }

  &__details {
    margin-top: 2em;
    font-family: var(--ff-montserrat);
  }

  &__date {
    color: var(--clr-mayaBlue);
    font-size: var(--fs-100);
  }

  // custom styling for slider

  .slick-dots {
    bottom: -50px;
  }

  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 8px;
    height: 8px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50%;
    border: 1px solid white;
 }
 .slick-dots li.slick-active button:before {
    background-color: var(--clr-white);
 }

 .slick-prev:before, .slick-next:before {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
 }

 .slick-prev {
    left: -40px;
}
}

.gallery {
    padding: 6.25em 0;

  &__image-lg {
    height: 450px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  } 

  &__image-sm {
    height: 450px;
    // padding-right: 10px;

    img {
      object-fit: cover;
      width: 100%;
      height: 220px;

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  } 

}

#map {
  height: 700px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.footer {
  background: url(../img/bg-footer.png) no-repeat bottom;
  background-attachment: fixed;
  font-family: var(--ff-montserrat);
  

  &__left-up {
    transform: translateY(-50%);
    position: relative;
    z-index: 5;
  }

  &__details {
    width: 100%;
  }

  &__logo {
    width: 9em;
  }

  &__copyright {
    color: var(--clr-white);
    font-size: var(--fs-200);

  }
  .contact-box {
    padding: 4em;
    // background-color: var(--clr-white);
    background: url(../img/bg-contact.png) no-repeat bottom;

    @media screen and (max-width: 991px) {
      padding: 3em;
  
    }
    

    // &__title {
    //   font-family: var(--ff-montserrat);
    //   font-size: var(--fs-500);
    //   font-weight: var(--fw-700);
    //   color: var(--clr-catalinaBlue);
    //   text-align: center;
    //   // margin-bottom: 2.5em;
    // }

    &__address {
        font-size: var(--fs-200);
        margin-bottom: 1.8em;

        @media screen and (max-width: 991px) {
          margin-bottom: 1em;
  
        }

      i {
        color: var(--clr-mediumSlateBlue);
        display: inline-block;
        margin-right: 5px;
      }
    }

    .form-control {
      border: 0;
      border-bottom: 1px solid var(--clr-catalinaBlue);
    }
  }
}


// @media screen and (max-width: 991px) {
  
// }
